@import "variable";
@import "material.min.css";
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#graph-container {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  margin: 0px;
}
.graph-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.graph-selection-indicator {
  position: absolute;
  background: transparent;
  border: 1px solid orange;
}

.bg-personal-dark{
  background-color: $dark-personal;
}

.bg-personal-lite-dark{
  background-color: $personal-dark-lite;
}

.text-color-lime{
  color: $personal-lime !important;
}

.demo-item{
  cursor: grabbing;
  border: none;
  &:hover{
    background-color: $personal-dark-lite !important;
  }
}

.demo-tab-pane{
  alignment: center;
}

.title-demo{
  text-align: left;
  font-weight: bold !important;
}

.nav-tabs{

  .nav-link.active{
    color: $personal-lime !important;
  }

  .nav-link::before{
    background-color: $personal-lime !important;

  }
}

